doctype html
html
    head
        title Streaming app
        block styles
            link(rel="stylesheet", href="/css/main.css")
            link(rel="stylesheet", href="/css/navbar.css")
            link(rel="stylesheet", href="/css/elements/button.css")
            link(rel="stylesheet", href="/css/elements/form.css")
            link(rel="stylesheet", href="/css/elements/table.css")
        block scripts
    body
        include ./navbar.pug
        block content