header(class="home-header")
    nav(class="home-navbar")
        ul(class="__elements")
            li(class="__element")
                a(href="#")
                    include icons/magnifying_glass.pug
                    span Search
            li(class="__element")
                a(href="#")
                    include icons/account.pug
                    span Account
    div
        label(for="open-navbar")
            include icons/right_chevron.pug
        input(type="checkbox" id="open-navbar")